/* global styles */

body{
    background-color: lightgray;
}

header{
    background-color: lightgray;
    padding: 10px 0px 10px 0px;
}

h1{
    font-family: 'Josefin Sans', 'filicudi-color-pride' Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
}

p{
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 5px;   
}


main{
    background-color: lightslategray;
}

footer{
    background-color: lightgrey;
}

/* buttons */
button{
    border: 1px solid black;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover{
    background-color: black;
}

button:active{
    background-color: black;
    box-shadow: 0 5px darkgray;
    transform: translateY(4px);
}

.carp1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carp2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carp3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Typo1{
    display: flex;
    align-items: center;
    justify-content: center;
}